# Arduino build directories
build/

# Doxygen documentations should be compiled locally
docs/

# C/C++ IntelliSense configs are local only
c_cpp_properties.json

# Avoid uploading secret file
compose.override.yml
influx-configs
secrets.h
pwfile

# Service data and logs
data/
log/
